<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Map Page</title>

    <!-- Styling -->
    <link rel="stylesheet" href='{% static "css/variables.css" %}'>
    <link rel="stylesheet" href='{% static "css/navbar.css" %}'>
    <link rel="stylesheet" href='{% static "css/map-page.css" %}'>
    <meta name="description" content="Her New Melbourne is dedicated to supporting migrant women in Melbourne as they navigate their new environment, connect with community resources, and thrive both culturally and emotionally. Join us to confidently embrace your new life while staying true to your roots.">
    <meta name="keywords" content="Her New Melbourne, migrant women support, Melbourne community resources, cultural integration, emotional wellbeing, migrant women Melbourne, navigating new environment, cultural roots, community connection">
</head>
<body>
    <!-- Nav Bar -->
    <nav id="main-nav">
        <!-- Nav Bar Left -->
        <div id="main-nav-left">
            <!-- Logo -->
            <img id="logo" src='{% static "images/logo.png" %}' onclick="relocateToHref('logo')">
            <!-- Options -->
            <ul id="main-nav-list">
                <li>Culture Atlas</li>
                <li id="main-nav-list-scenarios" onclick="relocateToHref('main-nav-list-scenarios')">Scenarios</li>
            </ul>
        </div>

        <!-- Title -->
        <div id="main-nav-title">Her New Melbourne</div>
    </nav>

    <script src='{% static "js/links.js" %}'></script>
    <script src='{% static "js/coordinates.js" %}'></script>
</body>
</html>