body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}



.container {
    background: white;
    width: 70%; /* Increased width */
    margin: 0.5vw auto; /* More margin for better centering */
    padding: 0.5vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* Adds subtle shadow for depth */
}

ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    background: #E7D9C0;
    margin-bottom: 15px; /* Increased spacing */
    padding: 15px; /* More padding for a better click area */
    cursor: pointer;
    font-size: 1.5vw;
}


.container li:hover {
    background-color: #eee; /* Lighter hover effect */
    text-decoration: none; /* Removes underline on hover */
}


img{
    width: 12vw;
    height: 8vw
}

.scenario {
    display: flex;
    align-items: center;
    justify-content: start;
}

.image-container {
    flex: 0 0 auto; /* Do not grow or shrink, and use the image's intrinsic width */
    padding-right: 40px; /* Space between image and text */
}