/* Droid Sans Bold Font */
@font-face {
    font-family: "Droid Sans";
    font-weight: 700;
    src: url("../fonts/droid-sans.bold.ttf");
}

/* Background */
#background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url("../images/landing-background.png");
    background-size: cover;
    background-position: center;
    z-index: -1;
}

/* Main Page Content */
#main-page {
    width: 100vw;
    height: var(--main-content-height);
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    position: relative;
}

/* Main Title */
#main-title {
    width: 100%;
    text-align: center;
    font-size: 5vw; /* Default font size for smaller screens */
    font-family: "Playfair Display", serif;
    font-weight: 400;
    color: #200c07;
}

/* Main Content */
#main-content {
    margin-left: 5vw;
    margin-bottom: 6.25rem;
    width: 90vw;
    display: flex;
    justify-content: center;
}
#main-content > * {
    width: 45vw;
}

/* Get Started Button Container */
#get-started-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Get Started Button */
#get-started-button {
    padding: 1rem 3rem;
    background-color: var(--secondaryContentColour);
    border-radius: 3vw;
    font-size: 2.5vw;
    font-family: "Playfair Display", serif;
    font-weight: 700;
    color: var(--mainContentColour);
    cursor: pointer;
}

/* Landing Page Description */
#landing-page-description {
    font-family: "Droid Sans";
    font-weight: 700;
    color: var(--mainContentColour);
    font-size: 2vw;
    line-height: 3vw;
}

/* Media Query for Larger Screens (1280px and above) */
@media (min-width: 1280px) {
    #main-title {
        font-size: 4vw;
    }

    #get-started-button {
        font-size: 2vw;
    }

    #landing-page-description {
        font-size: 1.5vw;
        line-height: 2.5vw;
    }
}