#nextButton {
    display: none;
    margin-top: 1vw;
}

#reference {
    display: none;
    margin-top: 1vw;
}

html,
body {
    min-height: 100vh;
}

body {
    background-image: url("../img/scenario1background.5f0ad4c15b68.jpg");
    /* Adjust the path as needed */
    background-size: cover;
    /* Ensure the background covers the entire page */
    background-position: center;
    /* Center the background image */
    background-repeat: no-repeat;
    /* Do not repeat the image */
    /* Do not repeat the image */
}

body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.35);
    /* White overlay with 65% opacity */
    z-index: -1;
    /* Ensures the overlay does not cover the content */
}

@font-face {
    font-family: 'Droid Sans';
    src: url("../fonts/droid-sans.regular.d8c764234801.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}


#scenario {
    background-color: white;
    padding: 2vw;
    border-radius: 15px;
    margin: 1vw;
    margin-left: 2vw;
    margin-right: 2vw;
    opacity: 85%;
    font-size: 1.3vw;
    font-family: 'Droid Sans', sans-serif;
}

#responseForm,
#nextButton {
    padding-right: 1vw;
    text-align: left;
    margin-left: 70%;
}

#response0,
#response1,
#response2 {
    margin-left: 0px;
}

#nextButton {
    background-color: #BD9D75;
    /* A pleasant blue background color */
    color: white;
    /* White text color for contrast */
    border: none;
    /* No borders */
    border-radius: 5px;
    /* Rounded corners */
    font-size: 2vw;
    /* Larger font size */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s;
    /* Smooth transition for hover effect */
}

#feedback, #reference{
    margin-right: 35%;
}