body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    background: white;
    width: 70%;
    margin: 0.5vw auto;
    padding: 0.5vw;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

ul {
    list-style-type: none;
    padding: 0;
}

.container li {
    background: #E7D9C0;
    margin-bottom: 15px;
    padding: 15px;
    cursor: pointer;
    font-size: 1.5vw;
}

.container li:hover {
    background-color: #eee;
    text-decoration: none;
}

img{
    width: 12vw;
    height: 8vw
}

.scenario {
    display: flex;
    align-items: center;
    justify-content: start;
}

.image-container {
    flex: 0 0 auto;
    padding-right: 40px;
}