:root {
    --scaling: calc(1240 / 1920);
    --mainContentColour: #4B1C0F;
    --secondaryContentColour: #BD9D75;

    --nav-height: 86px;
    --logo-height: calc(var(--nav-height) - 10px);
    --nav-margin-left-right: calc(26px / var(--scaling));
    --main-content-height: calc(100vh - var(--nav-height));
}